{%- if target == "Unreleased" -%}
# {{ target|title }}
{%- else -%}
# __{{ target }}__ | {{ date.strftime("%Y/%m/%d")}}
{%- endif -%}
{%- for type_of_change in ["Added", "Changed", "Deprecated", "Removed", "Fixed", "Security"] -%}
{%- if type_of_change in changes %}
## {{ type_of_change|title }}
{% for change in changes[type_of_change] -%}
- {{ change }}
{%- endfor -%}
{%- endif %}
{%- endfor %}
# __2.1.1__ | 2020/03/10
## Fixed
- Prevent re-initialization and re-synchronization of the container if it's life cycle change but is not deleted, see #14

# __2.1.0__ | 2020/01/30
## Fixed
- Replace previous Bash script that parse `seaf-cli status` with a Python script that use __pysearpc__ to run checks, see #13
- Implement a workaround to probable issue, waiting for the issue to appear, see #14

# __2.0.3__ | 2020/01/14
## Fixed
- Read [the docs](https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg) a bit more, see #5

# __2.0.2__ | 2020/01/14
## Fixed
- Propagate the CI_COMMIT_TAG and CI_PROJECT_URL environment variables into the Dockerfile as [the docs states](https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg), see #5

# __2.0.1__ | 2020/01/14
## Fixed
- Update chown path to library, comment chown to an obsolete healthcheck.sh, see #11
- Pass $CI_PROJECT_URL to the Dockerfile as a build argument, see #11

# __2.0.0__ | 2020/01/06
## Added
- Support 2FA authentication through `oathtool` using the secret key
- Support for upload/download limits
- Support for Seafile library password
- Allow skipping SSL certificates verifications
- Implement basic integration tests that check expected binairies
## Changed
- Drop Bash/supervisord/cron implementations in favor of showing seafile's log
- Improve continuous integration though splitted jobs
- Revise README
- Change the volume path from /volume to /library for consistency

# __1.2.1__ | 2019/12/29
## Fixed
- Switch base image from Debian oldoldstable Jessie to Debian stable Buster to fix unmet dependencies of `seafile-cli` to `python-future` and `python-searpc`, see #4
- Replace `;` with `&&` as commands separators in the Dockerfile's `RUN` to properly report failed commands at CI

# __1.2.0__ | 2019/05/02
## Changed
- Replace _supervisord_ with _cron_ for running the front job that keeps the container up. It uses less resources.
- Improve the __infinite-seaf-cli-start.sh__ into __seafile-healthcheck.sh__. The Seafile daemon will not be restarted if it's state are either _downloading_ or _committing_, which otherwise is problematic.

# __1.1.2__ | 2019/04/18
## Changed
- Slim down the Docker image, from 102MB to 67MB, gaining 35MB, reducing size by 34%.

# __1.1.1__ | 2019/04/18
## Fixed
- Because of the infinite-seaf-cli-start loop, within the container was running many seaf-daemons. Now, the infinite loop stop the current seaf-daemon before starting it again. (see #3)

# __1.1.0__ | 2019/04/09
## Fixed
- The container now actually use the UID/GID provided to it:  
The container entrypoint is run with root, then another entrypoint is run by the container's user, seafuser, to run the Seafile client.

# __1.0.6__ | 2019/03/25
## Fixed
- More minor fixes from v1.0.4

# __1.0.5__ | 2019/03/25
## Fixed
- Minor fixes from v1.0.4

# __1.0.4__ | 2019/03/25
## Added
- Add a script to push the README.md into the Docker Hub repository's full_description (@8cb49cbc8253368701d718c2e38017790c78ceca, @ca6128fb96602da71f3b7a560e834d1b7587abac)
## Changed
- Login to the Docker Hub from within the script, not the gitlab-ci.yml, using (@72bab017c1167b8ab35cef3cc709ff83686eaca4, @f69483354a4cf8afdbea89ef2bb1d9a9b7b2ac10)
- Require Bash on all Gitlab CI stages (@72bab017c1167b8ab35cef3cc709ff83686eaca4)
## Fixed
- Fix the build target detection (@a52559ddb38a64d7fceaa8bf9b8afd7356ccc439)


# __1.0.3__ | 2019/03/19
## Changed
- Restrict staging pipelines to pushed pipelines
- Restrict production pipelines to pushed and triggered pipelines
- Require a build target on triggered production pipelines

# __1.0.2__ | 2019/03/18
## Fixed
- Fix a minor issue when testing for requested production build.

# __1.0.1__ | 2019/03/18
## Added
- Add failsafe when importing Seafile's APT-key
## Changed
- Restrict production build to latest, majors, minors and revisions version, on-demand.

# __1.0.0__ | 2019/03/15
## Changed
- Release to Docker Hub

# __0.9.2__ | 2019/03/15
## Added
- Test release on GitLab, before Docker Hub
